In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('../raw_data/traffic_jam_data.csv')
df.head()

,jam_id,type,level,severity,line_coordinates,start_location,end_location,speed_kmh,length_meters,delay_seconds,block_alert_id,block_alert_type,block_alert_description,block_alert_update_datetime_utc,block_start_datetime_utc,publish_datetime_utc,update_datetime_utc,country,city,street
0,1306709498,NONE,2,5,"[{'lat': -6.3498, 'lon': 106.749779}, {'lat': ...",NaN,NaN,21.06,1263,111,NaN,NaN,NaN,NaN,NaN,2023-11-17T09:03:41.328Z,2023-11-17T10:30:24.539Z,ID,Tangerang Selatan,N6 RE Martadinata
1,1310361102,NONE,4,5,"[{'lat': -6.123958, 'lon': 106.704834}, {'lat'...",NaN,NaN,4.77,278,177,NaN,NaN,NaN,NaN,NaN,2023-11-17T09:55:00.340Z,2023-11-17T10:30:25.000Z,ID,Jakarta Barat,Citra Garden 5
2,1312734760,NONE,3,5,"[{'lat': -6.149167, 'lon': 106.847985}, {'lat'...",NaN,NaN,8.41,347,109,NaN,NaN,NaN,NaN,NaN,2023-11-17T10:21:19.094Z,2023-11-17T10:30:27.341Z,ID,Jakarta Pusat,Kawasan PRJ Kemayoran
3,1312796200,NONE,3,5,"[{'lat': -6.305742, 'lon': 106.859124}, {'lat'...",NaN,NaN,5.33,373,187,NaN,NaN,NaN,NaN,NaN,2023-11-17T10:21:18.419Z,2023-11-17T10:30:26.700Z,ID,Jakarta Timur,Kesehatan
4,1313179214,NONE,2,5,"[{'lat': -6.204239, 'lon': 106.872368}, {'lat'...",NaN,NaN,12.87,610,84,NaN,NaN,NaN,NaN,NaN,2023-11-17T10:25:11.798Z,2023-11-17T10:30:24.649Z,ID,Jakarta Timur,Kramat Asem